@media (max-width: 620px) {
    .pokemon-slider {
    padding: 0 15px;
    gap: 15px;
    }
    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista-pokemon {
        height: 400px;
    }

    .cartao .imagem-pok {
        max-height:230px;
    }

    .cortao .informacao .nome {
        max-width: 50%;
        font-size: 10px;
    }

    .cartao .informacao .vida {
        font-size: 14px;
    }
}